<% provide(:title, 'Специалисты') %>
<center>
<h1>Специалисты</h1>
<%= link_to "Диагностика", resumes_index_path, class: "btn btn-primary" %>
<%= link_to "Ремонт", repairs_index_path, class: "btn btn-primary" %>
<%= link_to "Установка спец. Оборудования", equis_index_path, class: "btn btn-primary" %>
</center>